.banner-article-container {
    height: 125px;
    padding: 25px 12px 7px 12px;
    background: #ea6137;

        h4 {
            color: white;
        }
        small {
            color: white;
        }    
}

.article-card-container{
    border: 1px solid #ea6137;
    height: auto;
    margin-top: 20px;
}