.banner-article-container {
    height: 175px;
    padding: 25px;
    background: #ea6137;

        h1 {
            color: white;
        }
        small {
            color: white;
        }    
}

.article-card-container{
    border: 1px solid #ea6137;
    height: auto;
    margin-top: 20px;
}