.create-article{
    margin: auto;
    
    .btn-color {
        background: #ea6137;
        color: white;
    }
    .back-btn {
        float: right;
    }
    
    .error-msg{
        color: red;
    }
}