.comment-card-container {
    border: 1px solid #7fa26d !important;
}

.comment-body {
    padding: 1rem 1rem 6px 1rem;
}

.hr-line {
    margin: 19px 0 4px 0 !important;
}

.authorClick {
    cursor: pointer;
}