body {
  font-family: 'Open Sans Condensed', sans-serif !important;
  padding: 20px 60px !important;
}

/* a {
  text-decoration: none !important;
  color: black !important; */
/* } */

* {
  box-sizing: border-box;
}

.icons {
  cursor: pointer;
}




